*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://anushqakandan.github.io/All-images/Images/Salon-backdrop.webp);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  img[alt='Salon-icon'] {
     width: 10rem;
  }
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: rgb(207, 9, 95);
    box-shadow: 0 0 10px rgb(54, 6, 32), 0 0 20px rgb(26, 17, 148);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  :is(.Makeup, .Nails) {
    text-align: left;
    width: 75%;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .price {
    text-align: right;
    width: 25%;
  }

  .head {
    text-shadow: 0 0 10px white;
  }